{
    "extends": [ 
      "airbnb-base",
      "plugin:security/recommended"
    ],
    "plugins": [
      "const-case",
      "security"
    ],
    "rules": {
      "no-console": "off",
      "max-len": ["error", 120],
      "newline-before-return": "error",
      "properties": "always",
      "const-case/uppercase": "error",
      "no-underscore-dangle": 0,
      "security/detect-object-injection": 0
    }
  }
  